################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Engine/Engine/.vs
/Engine/Engine/out/build/x64-Debug
/Engine/.idea
/Engine/Engine/cmake-build-debug
/Engine/Engine/Engine/cmake-build-debug
/Engine/Engine/out
