################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
cmake-build-debug/
out/
.idea/
enc_temp_folder/
cmake-build*/